[project]
name = "conformal-probes"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "matplotlib>=3.10.7",
    "openai>=2.8.1",
    "tenacity>=9.1.2",
]
