models:
  - meta-llama/Llama-3.2-3B-Instruct
  - HuggingFaceTB/SmolLM3-3B
  - Qwen/Qwen3-4B-Instruct-2507

judge_model: Qwen/Qwen3-4B-Instruct-2507

datasets:
  - trivia_qa
  - bioasq
  - medical_o1
  # - med_qa

generation:
  num_samples: 1000          
  num_generations: 10
  num_few_shot: 0
  temperature: 1.0
  model_max_new_tokens: 64
  brief_prompt: chat
  metric: hf_judge
  use_context: false

semantic_entropy:
  entailment_model: deberta      # your DeBERTa MNLI config
  strict_entailment: true
  use_all_generations: true

probes:
  entropy_key: cluster_assignment_entropy
  token_positions: [tbg, slt]
  train_frac: 0.7     # 70% train
  val_frac: 0.15      # 15% val
  test_frac: 0.15
